<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Urna Eletrônica</title>
</head>
<body>
    <div id="urna">
        <div id="screen">
            <!-- Lista de candidatos -->
            <div id="candidate-list">
                <h3>Candidatos:</h3>
                <ul>
                <li><span class="candidate-number">13</span> - Lulão - 13</li>
                <li><span class="candidate-number">17</span> - BolsoL.. - 17</li>
                <!-- Adicione mais candidatos conforme necessário -->
                </ul>
            </div>
      